---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Witaj w Astro.">
	<main>
		<p>Treść Strony PL</p>

		<ul>
			<li><a href="/posts/pl/post-1">PL 1</a></li>
			<li><a href="/posts/en/post-1">EN 1</a></li>
		</ul>
	</main>
</Layout>